.question-info
  .sidebar-title="Question info"
  .content-entry
    .sidebar-left
      .sidebar-text="Course"
    .sidebar-right
      .sidebar-text=question._source.course
  .content-entry
    .sidebar-left
      .sidebar-text="Teacher"
    .sidebar-right
      .sidebar-text=question._source.teacher
  .content-entry
    .sidebar-left
      .sidebar-text="Term"
    .sidebar-right
      .sidebar-text=question._source.term
  .content-entry
    .sidebar-left
      .sidebar-text="Exam type"
    .sidebar-right
      .sidebar-text=question._source.exam_type
  .content-entry
    .sidebar-left
      .sidebar-text="Question #"
    .sidebar-right
      .sidebar-text=question._source.number