doctype htmls
html
  head
    title Forager
    link(rel='icon', href='/img/search-icon.PNG')
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      header#question-navbar
        .navbar-title.logo
          .logo-text
            h2 
              a(href="/")="FORAGER"
          .logo-loc
            h4
              a(href="/")=question._source.school
        .navbar-title.question-title
          h2
            a(href=question._source.src_link)=question._source.course + " " + question._source.term + " " + question._source.exam_type + " #" + question._source.number 
  section
    .question-area
      .box#question-box
        img.scaled-image(src='/img/question.PNG')
      .box#answer-box
        #blur
          img.scaled-image(src='/img/solution.PNG')
        button.button#remove-blur(type='button', onclick='removeBlur()') Show Solution
script.
  document.addEventListener("DOMContentLoaded", function(event) { 
    var height = Math.max(document.getElementById("question-box").offsetHeight, document.getElementById("answer-box").offsetHeight);
    document.getElementById("question-box").style.minHeight = `${height}px`;
    document.getElementById("answer-box").style.minHeight = `${height}px`;
  });

  function removeBlur() {
    document.getElementById("remove-blur").remove();
    document.getElementById("blur").style.filter = 'blur(0px)';
  }
