doctype htmls
html
  head
    title Forager
    link(rel='icon', href='/img/search-icon.PNG')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      header.result-navbar
        .search-box
          form#search-box(action='/query', method='POST')
            input#search-bar.big-bar(placeholder='Search for questions by course, topic, year, etc...', name='searchQuery', value=query, autofocus='', autocomplete='off')
            button#search-button(type='submit')
              i.fa.fa-angle-right.fa-2x
      section.result-section
        .result-area
          for result in results
            button.result(type='button', onclick=`link('${result._id}')`)
              .result-header
                h3
                  a=result._source.course + " " + result._source.term + " " + result._source.exam_type + " #" + result._source.number
              .result-details
                p=result._source.q_txt
    .header-help-links
      .help-links
        a(href='/about') About
        a(href='/help') Help

script.
  function link(qid) {
    window.location.href = `/question/${qid}`;
  }

